.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 7px 5px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.navbar a {
    margin-left: 20px;
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

.navbar a:hover {
    color: #007bff;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    z-index: 10;
}

.bg-white {
    background-color: #fff;
}

.shadow-md {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rounded {
    border-radius: 8px;
}

.mt-2 {
    margin-top: 0.5rem;
}

.hover\:bg-gray-200:hover {
    background-color: #e2e8f0;
}



.dropdown-item {
    display: block;
    padding: 8px 12px;
    color: #6b7280;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.dropdown-item:hover {
    background-color: #e2e8f0;
}