.language-switcher {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.dropdown-button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px; /* Khoảng cách giữa cờ và chữ */
    transition: background-color 0.3s;
}
.flag-icon {
    width: 26px;
    height: 18px;
}

.dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    right: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 150px;
    z-index: 999;
}

.dropdown-menu li {
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px; /* Khoảng cách giữa cờ và chữ */
    transition: background-color 0.3s;
}

.dropdown-menu li:hover {
    background-color: #f0f0f0;
}
